
body {
    background-color: rgb(155, 150, 130);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin: 5px;
}
span {
    width: 15px;
}

#canvasContainer {
    width: 400px;
    height: 400px;
    border: 3px solid rgb(0, 0, 0);
}

.control {
    padding: 5px;
    width: 400px;
    display: block;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    border-bottom: 3px solid black;
}

input[type="color"] {
    height: 8px;
    
}

#backgroundControl{
    display: flex;

}

#BGAlpha {
    align-items: right;
}